.filters{
	background-color: white;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 4px;
}
.filter-title{
	font-weight: 600;
        margin-bottom: 5px;
}
.filter_subtitle{
	font-weight: 400;
        font-size: 14px;
        color: #888;
}
.filter-control {
            display: block;
            width: 100%;
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 3px;
    }
.locations,
        .amenities {
            height: 100%;
            width: 25%;
            border-right: 1px solid #ddd;
            padding: 10px;
        }

        .locations:last-child {
            border-right: none;
        }
