.places {
            width: 75%;
            padding: 20px;
        }

        .places h1 {
            font-size: 30px;
            margin-bottom: 20px;
        }

        .place {
            width: 390px;
            padding: 20px;
            margin: 10px;
            border: 1px solid #ff5a5f;
            border-radius: 4px;
            box-sizing: border-box;
    }
